# Portable Document Format
*.tif
*.tif.aux.xml
*.tif.ovr
*.tif.vat.cpg
*.tfw
*.tif.vat.dbf
*.atx
*.gdbtablx
*.gdbindexes
*.txt
*.gen
*.gdbtable
*.xml
MyProject9/Index/MyProject9/segments_c
MyProject9/.pyHistory
*.cfs
*.aprx
*.spx
MyProject9/MyProject9.gdb/gdb
MyProject9/MyProject9.gdb/timestamps
*.tbx
